*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.conteneur{
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid;
    padding: 20px;
}

.ligne{
    display: flex;
    flex-wrap: wrap;
}

